@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root{
  --primary: #fc4;
  --secondary: #F44;
  --title: #171717;
  --text: #171717;
  --bg: #f6f6f6;
  --card-bg: #fff;
}
body[data-darkmode]{
  --title: #eee;
  --text: #171717;
  --bg: #383838;
  --card-bg: #323232;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--text);
}
*::selection{
  background: var(--secondary);
  color: #fff;
}

body{
  font-family: Rubik, sans-serif;
  background: var(--bg);
  transition: .3s all;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  background: var(--card-bg);
  text-align: center;
  
  max-width: 500px;
  flex: 1 1 auto;
  margin: 1rem auto 1rem auto;
  padding: 2rem;

  border-radius: .5rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);

}

.profile-pic{
  width: 100%
}
.pic{
  object-fit: cover;
  width: 160px;
  margin: 0 auto;
}

.name-wrap{
  margin: 1rem 0 2rem;
}
.name{
  color: var(--title);
  font-size: 2.5rem;
}

.name-wrap::after{
  content: '';
  display: block;
  width: 64px;
  height: 6px;
  margin: .25rem auto;
  background: var(--primary);
  border-radius: 16px;
  transition: .3s all;
}

.links{
  /* background: #eee; */
  width: 100%;
}

.link{
  width: 80%;
  margin: 16px auto;
}


.link a{
  display: block;
  padding: 16px;

  color: var(--text);
  background: var(--primary);
  cursor: pointer;
  border-radius: 4px;
  transition: .2s all;
}

.link a:hover, .link a:active, .link a:focus{
  background: var(--secondary);
  color: white;
}

footer{
  color: var(--title);
  text-align: center;
  margin-top: 2rem;
}

button{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50%;
  border: 4px solid var(--primary);
  background: transparent;
  transition: .3s all;
  cursor: pointer;
}

button:hover{
  border: 4px solid var(--secondary);
}
